<div class="popup-content">
    <p class="bo-font bo-semibold bo-size-16">Falta pouco! Garanta agora a sua máquina Original gratuita.</p>
    <p class="bo-font bo-regular bo-size-14" style="color: #757575;">Com a máquina Original todas as suas vendas com máquinas Cielo são creditadas na conta Original Empresas</p>
    <div>
        <button class="bo-primary-button" ng-click="closePopupConfirmed()">Voltar e solicitar</button>
        <button class="bo-secondary-button" ng-click="canceledPopupConfirmed()">Não quero agora</button>
    </div>
</div>