<ion-view>
    <ion-nav-title>
        <span class="bo-font bo-medium bo-size-18">PEDIR MAQUININHA</span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button" ng-click="backConfirmed()">
            <img>
        </a>
    </ion-nav-buttons>
    <ion-content scroll="false" class="page-confirmed">
        <div>
            <img src="/lib/BancoOriginal/images/icons/icn-machine-success.svg">
        </div>
        <div>
            <div class="title-confirmed">
                <p class="bo-font bo-semibold bo-size-16">
                    Máquina Original solicitada com sucesso.
                </p>
            </div>
            <div class="info-confirmed">
                <p class="bo-font bo-regular bo-size-14">
                    Você receberá sua máquina no endereço cadastrado na abertura de sua conta pessoal.
                </p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center">
        <div class="button-confirmed" style="margin-bottom: 16px;">
            <button class="bo-primary-button" ng-click="backConfirmed()">Voltar ao ínicio</button>
        </div>
    </ion-footer-bar>
</ion-view>