<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab icon-off="bo-home" icon-on="bo-home" href="/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled" href="/tab/chat">
        <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>  
  
    <ion-tab icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled" href="/tab/voice">
        <ion-nav-view name="tab-voice"></ion-nav-view>
    </ion-tab>  

</ion-tabs>

