.page, .resume{
    margin-top: 3vh;
    text-align:center;
    justify-content: space-evenly;
    display: flex;
}
.imgpreview{
    border-radius: 8px;
    max-width: 600px;
    height: 350px;
}
.thumbpreview{
    width: 200px;
    height: 100px;
    margin: 5px;
}
.imgcapa{
    max-width: 25vh;
    height: 30vh;
}
.searchfile{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.searchfile .file-path-wrapper{
    max-width: 40vh;
}
.result.card .card-content div{
    max-width: 630px;
    display: flex;
    flex-wrap:wrap;
    height: auto;
}
.search.card{
    height: auto;
}
.divider{
    margin-top: 4vh;
    margin-bottom: 5vh;
}
table, td, th{
    font-size: 14px;
    border: 1px solid gray;
    padding: 5px;
}
td.property{
    max-width: 8vh;
}
