/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "proximanova-bold";
    src: url("../lib/BancoOriginal/font/proximanova-bold.woff2") format("woff2"), url("../lib/BancoOriginal/font/proximanova-bold.woff") format("woff");
  }  
  
  @font-face {
    font-family: "proximanova-semibold";
    src: url("../lib/BancoOriginal/font/proximanova-semibold.woff2") format("woff2"), url("../lib/BancoOriginal/font/proximanova-semibold.woff") format("woff"); 
  } 
  
  @font-face {
    font-family: "proximanova-light";
    src: url("../lib/BancoOriginal/font/proximanova-light.woff2") format("woff2"), url("../lib/BancoOriginal/font/proximanova-light.woff") format("woff"); 
  } 
  
  @font-face {
    font-family: "proximanova-regular";
    src: url("../lib/BancoOriginal/font/proximanova-regular.woff2") format("woff2"), url("../lib/BancoOriginal/font/proximanova-regular.woff") format("woff"); 
  } 
  @font-face {
    font-family: "proximanova-medium";
    src: url("../lib/BancoOriginal/font/proximanova-medium.woff2") format("woff2"), url("../lib/BancoOriginal/font/proximanova-medium.woff") format("woff"); 
  } 
  